.teacher {
    @media screen and (max-width: 480px) {
      padding: 250px 21px 28px;
    }
  
    @media screen and (min-width: 481px) {
      padding: 240px 0 33px;
    }
  
    @media screen and (min-width: 1200px) {
      padding: 104px 0 50px;
    }
  }
  
  .teacher__title {
    @media screen and (max-width: 480px) {
      margin-bottom: 28px;
    }
  
    @media screen and (min-width: 481px) {
      margin-bottom: 38px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
  
  .teacher-wrapper {
    @media screen and (min-width: 481px) {
      display: flex;
      justify-content: flex-start;
    }
  }
  
  .teacher__name {
    @media screen and (min-width: 481px) {
      margin-right: 46px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-right: 86px;
    }
  }
  
  .teacher__img {
    display: block;
  
    @media screen and (min-width: 481px) {
      width: 246px;
      height: 320px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 492px;
      height: 644px;
    }
  }
  
  .teacher-about {
    @media screen and (max-width: 480px) {
      margin-top: 26px;
    }
  
    @media screen and (min-width: 481px) {
      width: 396px;
      font-size: 29px;
      margin-bottom: 16px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 610px;
    }
  }
  
  .teacher-about__name {
    font-family: getFonts('main');
    color: #111518;
    font-weight: bold;
  
    @media screen and (max-width: 480px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    @media screen and (min-width: 481px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 29px;
      margin-bottom: 20px;
    }
  }
  
  .teacher-about__name::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #B9B9B9;
    opacity: 0.38;
  
    @media screen and (max-width: 480px) {
      margin-top: 10px;
      margin-bottom: 26px;
    }
  
    @media screen and (min-width: 481px) {
      margin-top: 16px;
      margin-bottom: 26px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-top: 16px;
      margin-bottom: 42px;
    }
  }
  
  .teacher-about__experience {
    font-family: getFonts('main');
    color: #111518;
    font-weight: bold;
  
    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
      font-size: 13px;
    }
  
    @media screen and (min-width: 481px) {
      margin-bottom: 30px;
      font-size: 13px;
      line-height: 1.538;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      font-size: 16.667px;
      line-height: 1.75;
    }
  }
  
  .teacher-about__experience::after {
    display: block;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #E5E5E5;
    margin-top: 22px;
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 36px;
    }
  }
  
  .icon-list {
    list-style: none;
    position: relative;
  
    &::before {
      content: '';
      display: block;
      height: 30px;
      width: 30px;
      background-image: url(./src/images/sprite.svg#icon-check);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0px;
      top: 0px;
      fill: #FF6B09;
    }
  }
  
  .teacher-about__experience-item {
    padding-left: 18px;
  
    &:not(:last-child) {
      @media screen and (max-width: 480px) {
        margin-bottom: 22px;
      }
  
      @media screen and (min-width: 481px) {
        margin-bottom: 26px;
      }
  
      @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
      }
    }
  }
  
  .teacher-about__experience-text {
    font-family: getFonts('main');
    color: #B9B9B9;
    font-weight: bold;
    padding-left: 20px;
  
    @media screen and (max-width: 480px) {
      font-size: 13px;
      line-height: 1.538;
    }
  
    @media screen and (min-width: 481px) {
      font-size: 13px;
      line-height: 1.538;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 16.667px;
      line-height: 1.75;
    }
  }
  
  .teacher-about__biography-text {
    font-family: getFonts('main');
    color: #B9B9B9;
  
    @media screen and (max-width: 480px) {
      font-size: 11px;
      line-height: 1.8;
      margin-bottom: 25px;
    }
  
    @media screen and (min-width: 481px) {
      font-size: 11px;
      line-height: 1.8;
      margin-bottom: 27px;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 16.667px;
      line-height: 1.75;
      margin-bottom: 32px;
    }
  }
  
  .teacher-about__certificate {
    display: block;
    font-family: getFonts('main');
    color: #FF6B09;
    text-decoration: underline;
  
    @media screen and (max-width: 480px) {
      font-size: 11px;
      line-height: 2.652;
    }
  
    @media screen and (min-width: 481px) {
      font-size: 11px;
      line-height: 2.652;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 16.667px;
      line-height: 1.75;
    }
  }