.advantages {
  font-weight: 700;
  line-height: 1.649rem;
  letter-spacing: 0.08em;
  z-index: 1113;
  background-color: #e5e5e5;
  color: getColor('primary');
  display: flex;
  font-family: getFonts('main');
  justify-content: center;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    width: 146px;
    display: flex;
  }

  &__icon {
    z-index: 1111;
    fill: getColor('accent');
    display: block;
  }

  &__text {
    word-wrap: normal;
    margin: 0;
  }
}

.title--hidden {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages {
    font-size: 14px;
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
    padding-top: 30px;

    &__list {
      display: block;
    }

    &__item {
      width: 222px;
      align-items: center;

      &:nth-child(even) {
        margin-top: 26px;
        margin-bottom: 21px;
      }
    }

    &__icon {
      height: 60px;
      width: 67px;
      display: block;
    }

    &__text {
      margin-left: 8px;
      width: 146px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    font-size: 14px;
    padding-bottom: 45px;
    padding-top: 50px;

    &__list {
      display: flex;
      align-items: center;
      width: 688px;
      height: 69px;
    }

    &__item {
      width: 215px;

      &:nth-child(even) {
        margin-right: 21px;
        margin-left: 21px;
      }
    }

    &__icon {
      width: 61px;
      height: 63px;
      align-self: center;
    }

    &__text {
      margin-left: 8px;
      align-self: center;
      max-width: 146px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    font-size: 20px;
    padding-bottom: 130px;
    padding-top: 96px;
    display: flex;
    justify-content: center;

    &__list {
      display: flex;
      align-items: center;
      width: 1344px;
      height: 102px;
    }

    &__item {
      width: 448px;
      height: 102px;
    }

    &__icon {
      width: 100px;
      height: 102px;
      display: block;
    }

    &__text {
      align-self: center;
      display: block;
      margin-left: -10px;
    }
  }
}
