.benefits {
  background: linear-gradient(180deg, #111518 79%, #fff 79%);
  font-family: getFonts('main');
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  & .secondary-title {
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    list-style: none;
    padding: 0;
  }

  &__item {
    font-weight: 700;
    letter-spacing: 00.08em;

    &--text {
      word-wrap: normal;
    }

    &--line {
      color: getColor('accent');
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .benefits {
    bottom: 100px;
    & .secondary-title {
      padding-top: 95px;
      width: 280px;
      height: 170px;
      font-size: 24px;
      margin: auto;
      justify-self: center;
    }

    &__list {
      width: 280px;
      height: 638px;
      margin-left: 20px;
      justify-self: center;
      font-size: 14px;
      margin-top: 25px;
    }

    &__item {
      width: 236px;
      margin: auto;

      &--text,
      &--line {
        margin: auto;
      }

      &--line {
        padding-bottom: 5px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .benefits {
    height: 500px;

    & .secondary-title {
      padding-top: 50px;
      margin: auto;
      width: 688px;
      height: 104px;
      font-size: 24px;
      padding-bottom: 25px;
      text-align: center;
    }

    &__list {
      width: 688px;
      height: 303px;
      margin-left: 40px;
      justify-self: center;
      font-size: 14px;
      justify-content: space-evenly;
      align-self: flex-end;
      margin-top: 90px;
      margin: 0 auto;
    }

    &__item {
      width: 236px;
      height: 70px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .benefits {
    position: relative;
    height: 710px;

    & .secondary-title {
      width: 866px;
      height: 278px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 100px;
      display: none;
    }

    &__list {
      width: 1314px;
      height: 362px;
      justify-self: center;
      padding: 70px 112px 62px 114px;
      flex-wrap: wrap;
      justify-content: space-between;
      position: absolute;
      top: 350px;
    }

    &__item {
      width: 336px;
      height: 100px;

      &--text {
        font-size: 20px;
        line-height: 1.4em;
      }
    }
  }
}
