
.header__background {
    z-index: -1;
    position: absolute;
    background: #FFFFFF;
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    width: 100%;
}
@media screen and (min-width: 1280px) {
.mobile__nav {
    display: none;
  }
  .mobile__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header {
    margin-top: 33px;
  }
  .header__logo {
    width: 128px;
    height: 45px;
    margin-right: 104px;
    
  }
  .header__nav{
    display: flex;
    align-items: center;
    padding-bottom: 46px;
  }
  .header__list {
    list-style: none;
    display: flex;
  }
  .header__menu {
    display: flex;
  }
  .header__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #B9B9B9;
    text-decoration: none;
    padding-right: 56px;
  }
  .header__menu--btn {
    width: 336px;
    height: 70px;
    border: 2px solid #ff6b09;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ff6b09;
    background: none;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    .mobile__menu {
        width: 688px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        align-items: center;
        padding-top: 40px;
    }
    header {
        width: 688px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .header__logo {
        width: 128px;
        height: 45px;
        margin-right: 239px;
    }
    .header__logo--dark {
        fill: #ffffff;
        width: 128px;
        height: 45px;
        position: absolute;
    }
    .menu__logo {
        width: 40px;
        height: 40px;
    }
    .header__nav {
        display: none;
    }
    .header__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #111518;
        padding-left: 42px;
        margin-bottom: 8px;
    }
    .header__menu--btn {
        border: 2px solid #FF6B09;
        font-family: Montserrat;
        width: 260px;
        height: 48px;
        background: rgba(17, 21, 24, 0.9);
        color: #ff6b09;
        font-weight: bold;

    }
    .header__list {
        font-family: Montserrat;
        list-style: none;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: #FFFFFF;

    }
    .header__link {
        font-family: Montserrat;
        text-decoration: none;
    }
    .mobile__menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    overflow: hidden;
  }
  .mobile__btn {
    border: none;
    background: none;
  }
  .mobile__nav {
    padding-left: 20px;
    padding-top: 34px;
    padding-left: 40px;
    padding-top: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 568px;
    background: rgba(17, 21, 24, 0.9);
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    overflow: hidden;
  }
  .mobile__list {
    list-style: none;
    margin: 0px;
    padding-top: 68px;
    padding-left: 0px;
  }
  .mobile__link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .mobile__btn:focus ~ .mobile__nav {
    transform: translateX(0);
  }
  .mobile__menu--btn {
    width: 260px;
    height: 48px;
    border: 2px solid #ff6b09;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    background: none;
  }
  .mobile__item--btn {
    padding-top: 59px;
    padding-left: 11px;
  }
  .header__btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ff6b09;
    width: 260px;
    height: 48px;
    border: 2px solid #FF6B09;
    background:#FFFFFF;
    margin-right: 32px;
    
    
  }
  .mobile__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 332px;
    height: 178px;
    margin-top: 68px;
    margin-left: 218px;
  }
  .mobile__nav {
    width: 100%;
    height: 1024px;
  }
  .mobile__menu--btn {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
        display: flex;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px; 
    }
    .header__background {
        left: -64px;
        top: -0.5px;
    }
    
    .header__logo {
        width: 80px;
        height: 29px;
        margin-right: 171px;
    }
    .header__logo--dark {
        fill: white;
        width: 80px;
        height: 29px;
        position: absolute;
    }
    .menu__logo {
        width: 40px;
        height: 40px;
    }
    .header__nav {
        display: none;
    }
    .header__menu--btn {
        border: 2px solid #FF6B09;
        font-family: Montserrat;
        width: 260px;
        height: 48px;
        background: rgba(17, 21, 24, 0.9);
        color: #ff6b09;
        font-weight: bold;

    }
    .header__list {
        font-family: Montserrat;
        list-style: none;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: #FFFFFF;

    }
    .header__link {
        font-family: Montserrat;
        text-decoration: none;
    }
    .mobile__menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }
  .mobile__btn {
    border: none;
  }
}