.header__background {
  z-index: -1;
  position: absolute;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: absolute;
  background: rgba(17, 21, 24, 0.9);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.close-btn {
  background: none;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}
.mobile {
  display: flex;
  justify-content: center;
}
.mobile__btn {
  background: none;
}
.mobile__list {
  list-style: none;
}
.mobile__link {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.mobile__link:hover {
  color: #ff6b09;
}
.mobile__item:hover {
  color: #ff6b09;
}
.header__link:hover {
  color: #ff6b09;
}
@media screen and (min-width: 1280px) {
  .header {
    margin: 0 auto;
    padding-left: 183px;
    padding-right: 183px;
    padding-top: 33px;
    padding-bottom: 46px;
    justify-self: center;
  }
  .header__background {
    width: 100%;
    bottom: -460;
  }
  .mobile__nav {
    display: none;
  }
  .mobile__menu {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__logo {
    width: 128px;
    height: 45px;
    margin-right: 144px;
  }
  .header__nav {
    width: 1316px;
    display: flex;
    align-items: center;
  }
  .header__list {
    list-style: none;
    display: flex;
  }
  .header__menu {
    display: flex;
  }
  .header__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #b9b9b9;
    text-decoration: none;
    padding-right: 46px;
  }
  .header__menu--btn {
    width: 336px;
    height: 70px;
    border: 2px solid #ff6b09;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ff6b09;
    background: none;
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  .mobile__menu {
    display: flex;
    align-items: center;
  }
  .mobile__list {
    padding-left: 0px;
    padding-top: 80px;
  }
  .header__logo {
    width: 128px;
    height: 45px;
    margin-right: 220px;
  }
  .header__logo--dark {
    fill: #ffffff;
    width: 128px;
    height: 45px;
    position: absolute;
  }
  .menu__logo {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin-left: 30px;
  }
  .header__nav {
    display: none;
  }
  .header__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #111518;
  }
  .header__menu--btn {
    border: 2px solid #ff6b09;
    font-family: Montserrat;
    width: 260px;
    height: 48px;
    background: rgba(17, 21, 24, 0.9);
    color: #ff6b09;
    font-weight: bold;
  }
  .header__list {
    font-family: Montserrat;
    list-style: none;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .header__link {
    font-family: Montserrat;
    text-decoration: none;
  }
  .mobile__menu {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: 40px;
  }
  .mobile__btn {
    border: none;
    background: none;
  }
  .mobile__nav {
    padding-left: 20px;
    padding-top: 34px;
    padding-left: 40px;
    padding-top: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 568px;
    background: rgba(17, 21, 24, 0.9);
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    overflow: hidden;
  }

  .mobile__link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .mobile__menu--btn {
    width: 260px;
    height: 48px;
    border: 2px solid #ff6b09;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    background: none;
  }
  .mobile__item--btn {
    padding-top: 59px;
    padding-left: 11px;
  }
  .header__btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ff6b09;
    width: 260px;
    height: 48px;
    border: 2px solid #ff6b09;
    background: #ffffff;
  }
  .mobile__menu--btn {
    display: none;
  }
  .close-btn {
    right: 40px;
    top: 52px;
  }
  .backdrop {
    padding: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
        display: flex;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 52px;
  }
    .header__logo {
        width: 80px;
        height: 29px;
        margin-right: 179px;
    }
    .header__logo--dark {
        fill: white;
        width: 80px;
        height: 29px;
        position: absolute;
    }
    .menu__logo {
        width: 40px;
        height: 40px;
    }
    .header__nav {
        display: none;
    }
    .header__menu--btn {
        border: 2px solid #FF6B09;
        font-family: Montserrat;
        width: 260px;
        height: 48px;
        background: rgba(17, 21, 24, 0.9);
        color: #ff6b09;
        font-weight: bold;

    }
    .header__list {
        font-family: Montserrat;
        list-style: none;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: #FFFFFF;

    }
    .header__link {
        font-family: Montserrat;
        text-decoration: none;
    }
    .mobile__menu {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__logo {
    width: 80px;
    height: 29px;
    margin-right: 171px;
  }
  .header__logo--dark {
    fill: white;
    width: 80px;
    height: 29px;
    position: absolute;
  }
  .menu__logo {
    width: 40px;
    height: 40px;
  }
  .header__nav {
    display: none;
  }
  .header__menu--btn {
    border: 2px solid #ff6b09;
    font-family: Montserrat;
    width: 260px;
    height: 48px;
    background: rgba(17, 21, 24, 0.9);
    color: #ff6b09;
    font-weight: bold;
  }
  .header__list {
    font-family: Montserrat;
    list-style: none;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .header__link {
    font-family: Montserrat;
    text-decoration: none;
  }
  .mobile__menu {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 440px;
  }
  .mobile__btn {
    border: none;
  }
  .header__btn {
    display: none;
  }
  .mobile__nav {
    padding-left: 20px;
    padding-top: 34px;
    padding-left: 40px;
    padding-top: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 568px;
    background: rgba(17, 21, 24, 0.9);
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    overflow: hidden;
  }
  .mobile__list {
    list-style: none;
  }
  .backdrop {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }
  .close__btn {
    left: 0px;
    top: 0px;
  }
  .mobile {
    display: flex;
    justify-content: center;
  }
  .mobile__list {
    margin: 0px;
    padding: 0px;
    padding-top: 100px;
  }
  .backdrop {
    display: flex;
  }
  .mobile__menu--btn {
    width: 260px;
    height: 48px;
    left: 30px;
    top: 297.53px;
    border: 2px solid #ff6b09;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ff6b09;
    background: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mobile__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
.close-btn {
  right: 20px;
}
