.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: flex-start;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.hero__span {
  color: #b9b9b9;
  font-weight: normal;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: url(../images/mobile/header/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 52px;
    margin-left: -20px;
  }

  .hero__btn {
    width: 260px;
    height: 48px;
    background: #ff6b09;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .hero__sprite {
    width: 768px;
    height: 618px;
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
    fill: #ff6b09;
    position: absolute;
    z-index: -1;
    top: 0px;
  }
  .hero__picture {
    margin-top: 55px;
    margin-bottom: 47px;
    background-color: #ffffff;
    box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    width: 688px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: #111518;
    margin-left: -355px;
    margin-top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: black;
    margin-bottom: 0px;
  }
  .hero__span {
    color: #b9b9b9;
    font-weight: normal;
  }

  .hero__btn {
    width: 260px;
    height: 48px;
    background: #ff6b09;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 340px;
    margin-top: 53px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 164.9%;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
  }
}
