@media screen and (min-width: 320px) and (max-width: 767px) {
  .how-we-do__tittle {
    font-family: getFonts(main);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
  }

  .how-we-do__list {
    display: block;
    list-style-type: none;
  }

  .how-we-do__item {
    height: 280px;
    width: 280px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .how-we-do__item:nth-child(6) > .how-we-do__item__description {
    margin-top: 30px;
  }
  .how-we-do__item:nth-child(5) > .how-we-do__item__description {
    margin-top: 65px;
  }
  .how-we-do__item:nth-child(4) > .how-we-do__item__description {
    margin-top: 40px;
  }
  .how-we-do__item:nth-child(3) > .how-we-do__item__description {
    margin-top: 70px;
  }
  .how-we-do__item:nth-child(2) > .how-we-do__item__description {
    margin-top: 40px;
  }
  .how-we-do__item:nth-child(1) > .how-we-do__item__description {
    margin-top: 40px;
  }

  .how-we-do__icon1 {
    width: 44.61px;
    height: 48.06px;
    margin-left: 120px;
    margin-top: 20px;
    fill: getColor(accent);
  }

  .how-we-do__icon2 {
    width: 46.11px;
    height: 47.38px;
    margin-left: 116px;
    margin-top: 20px;
    fill: getColor(accent);
  }

  .how-we-do__icon3 {
    width: 64.85px;
    height: 47.63px;
    margin-left: 106px;
    margin-top: 20px;
    fill: getColor(accent);
  }

  .how-we-do__icon4 {
    width: 48.35px;
    height: 48px;
    margin-left: 116px;
    margin-top: 20px;
    fill: getColor(accent);
  }

  .how-we-do__icon5 {
    width: 39.83px;
    height: 48px;
    margin-left: 120px;
    margin-top: 20px;
    fill: getColor(accent);
  }

  .how-we-do__icon6 {
    width: 57.14px;
    height: 48px;
    margin-left: 111px;
    margin-top: 20px;
    fill: getColor(accent);
  }

  .how-we-do__item__tittle {
    font-family: getFonts(main);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.08em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    &::after {
      content: '—';
      position: absolute;
      top: 140px;
      left: 50%;
      color: getColor(accent);
    }
  }

  .how-we-do__item__description {
    font-family: getFonts(main);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667;
    letter-spacing: 0.08em;
    text-align: center;
    color: getColor(secondary);
    margin-left: auto;
    margin-right: auto;
  }

  .how-we-do__item:hover,
  .how-we-do__item:hover > .how-we-do__item__tittle,
  .how-we-do__item:hover > .how-we-do__item__description,
  .how-we-do__item:hover > .how-we-do__icon1,
  .how-we-do__item:hover > .how-we-do__icon2,
  .how-we-do__item:hover > .how-we-do__icon3,
  .how-we-do__item:hover > .how-we-do__icon4,
  .how-we-do__item:hover > .how-we-do__icon5,
  .how-we-do__item:hover > .how-we-do__icon6,
  .how-we-do__item:hover > .how-we-do__item__tittle::after {
    color: white;
    background-color: getColor(accent);
    fill: white;
  }

  .how-we-do__brake--desktop {
    display: none;
  }
  .how-we-do__brake--tablet {
    display: none;
  }
  .how-we-do__brake--mobile {
    display: static;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .how-we-do {
    max-width: 768px;
    margin: auto;
    padding-bottom: 30px;
  }

  .how-we-do__tittle {
    font-family: getFonts(main);
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.307;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .how-we-do__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -40px;
    margin-top: -27px;
  }

  .how-we-do__item {
    height: 334px;
    max-width: 334px;
    box-shadow: 0px 8px 26px 0px #0000001a;
    margin-left: 40px;
    margin-top: 27px;
    flex-basis: calc(100% / 2 - 40px);
  }

  .how-we-do__item__tittle {
    font-family: getFonts(main);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-align: center;
    color: getColor(primary);
    position: relative;
    &::after {
      content: '—';
      position: absolute;
      top: 55px;
      left: 50%;
      color: getColor(accent);
    }
  }

  .how-we-do__item__description {
    font-family: getFonts(main);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-align: center;
    color: getColor(secondary);
    margin-top: 40px;
  }

  .how-we-do__icon1 {
    fill: getColor(accent);
    height: 48px;
    width: 45.39px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
  }

  .how-we-do__icon2 {
    height: 47px;
    width: 46.1px;
    fill: getColor(accent);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
  }

  .how-we-do__icon3 {
    fill: getColor(accent);
    width: 68px;
    height: 48px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
  }

  .how-we-do__icon4 {
    fill: getColor(accent);
    width: 48px;
    height: 48px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
  }

  .how-we-do__icon5 {
    fill: getColor(accent);
    width: 39px;
    height: 48px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
  }

  .how-we-do__icon6 {
    fill: getColor(accent);
    width: 57px;
    height: 48px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px;
  }

  .how-we-do__item:hover,
  .how-we-do__item:hover > .how-we-do__item__tittle,
  .how-we-do__item:hover > .how-we-do__item__description,
  .how-we-do__item:hover > .how-we-do__icon1,
  .how-we-do__item:hover > .how-we-do__icon2,
  .how-we-do__item:hover > .how-we-do__icon3,
  .how-we-do__item:hover > .how-we-do__icon4,
  .how-we-do__item:hover > .how-we-do__icon5,
  .how-we-do__item:hover > .how-we-do__icon6,
  .how-we-do__item:hover > .how-we-do__item__tittle::after {
    color: white;
    background-color: getColor(accent);
    fill: white;
  }

  .how-we-do__item:nth-child(3) > .how-we-do__item__description {
    padding-top: 30px;
  }
  .how-we-do__item:nth-child(6) > .how-we-do__item__description {
    margin-top: 30px;
  }
  .how-we-do__item:nth-child(5) > .how-we-do__item__description {
    margin-top: 55px;
  }
  .how-we-do__brake--desktop {
    display: none;
  }

  .how-we-do__brake--tablet {
    display: static;
  }

  .how-we-do__brake--mobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .how-we-do {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-height: 1200px;
  }

  .how-we-do__tittle {
    font-family: getFonts(main);
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: left;
    color: getColor(primary);

    margin-top: 0;
    margin-left: -870px;
  }

  .how-we-do__list {
    display: flex;
    max-width: 1314px;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
    justify-content: center;
    align-items: center;
  }

  .how-we-do__item {
    width: 425px;
    height: 396px;
    box-shadow: 0px 8px 26px 0px #0000001a;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .how-we-do__icon1 {
    width: 45.39px;
    height: 48px;
    fill: getColor(accent);
    justify-content: center;

    margin-top: 40px;
  }

  .how-we-do__icon2 {
    width: 48px;
    height: 48px;
    fill: getColor(accent);

    margin-top: 40px;
  }

  .how-we-do__icon3 {
    width: 68.43px;
    height: 48px;
    fill: getColor(accent);
    margin-top: 40px;
  }

  .how-we-do__icon4 {
    width: 48px;
    height: 48px;
    margin-top: 40px;
    fill: getColor(accent);
  }

  .how-we-do__icon5 {
    width: 39.83px;
    height: 48px;
    fill: getColor(accent);
    margin-top: 40px;
  }

  .how-we-do__icon6 {
    width: 57.14px;
    height: 48px;
    fill: getColor(accent);
    margin-top: 40px;
  }

  .how-we-do__item__tittle {
    font-family: getFonts(main);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.08em;
    text-align: center;
    max-width: 370px;
    min-width: 270px;
    position: relative;
    padding-top: 10px;

    &::after {
      content: '—';
      position: absolute;
      margin-top: 50px;
      left: 50%;
      color: getColor(accent);
    }
  }

  .how-we-do__item__description {
    font-family: getFonts(main);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 0.08em;
    text-align: center;
    color: getColor(secondary);
    margin-top: 50px;
  }

  .how-we-do__item:nth-child(5) > .how-we-do__item__tittle {
    max-width: 254px;
  }

  .how-we-do__item:nth-child(2) > .how-we-do__item__tittle > br {
    display: none;
  }

  .how-we-do__item:nth-child(2) > .how-we-do__item__tittle::after {
    padding-top: 30px;
  }
  .how-we-do__item:nth-child(2) > .how-we-do__item__description {
    padding-top: 25px;
  }

  .how-we-do__brake--desktop {
    display: static;
  }

  .how-we-do__brake--tablet {
    display: none;
  }

  .how-we-do__brake--mobile {
    display: none;
  }

  .how-we-do__item:hover,
  .how-we-do__item:hover > .how-we-do__item__tittle,
  .how-we-do__item:hover > .how-we-do__item__description,
  .how-we-do__item:hover > .how-we-do__icon1,
  .how-we-do__item:hover > .how-we-do__icon2,
  .how-we-do__item:hover > .how-we-do__icon3,
  .how-we-do__item:hover > .how-we-do__icon4,
  .how-we-do__item:hover > .how-we-do__icon5,
  .how-we-do__item:hover > .how-we-do__icon6,
  .how-we-do__item:hover > .how-we-do__item__tittle::after {
    color: white;
    background-color: getColor(accent);
    fill: white;
  }
}
