.reviews-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.reviews-title {
  font-family: map-get($fonts, 'main');
  font-style: normal;
  font-weight: 800;
  line-height: 1.304em;
  letter-spacing: 0.03rem;
  text-align: center;
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
}

.reviews-block {
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.reviews-text__person {
  font-family: map-get($fonts, 'main');
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: map-get($colors, 'accent');
}

.reviews-text__title {
  @extend .reviews-text__person;
  font-weight: 500;
  line-height: 1.2;
  color: map-get($colors, 'secondary');
}

.reviews-text__letter {
  font-family: map-get($fonts, 'main');
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  color: #3d3d3d;

  .reviews-text__letter--link {
    color: map-get($colors, 'accent');
  }
}

.reviews-link {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .reviews-title {
    font-size: 20px;
    width: 280px;
    margin-bottom: 50px;
  }

  .arrow-left {
    position: absolute;
    top: 675px;
    left: 20px;
  }

  .arrow-right {
    position: absolute;
    top: 675px;
    right: 20px;
  }

  .reviews-block {
    text-align: center;
    width: 280px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  .reviews-img__icon {
    position: relative;
    top: 15px;
    left: 0;
  }

  .reviews-text__person {
    font-size: 14px;
    margin-top: 30px;
  }

  .reviews-text__title {
    font-size: 12px;
    margin-top: 10px;
  }

  .reviews-text__letter {
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    width: 240px;
    margin: 15px auto;
  }

  .reviews-link {
    margin-left: 45px;

    & > a {
      margin-right: 10px;
    }
  }

  .reviews-link__img-two {
    display: none;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
  .reviews-link{
    margin-left: 10px;
  }

  .reviews-link__img-two {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews-title {
    font-size: 26px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .arrow-left {
    position: absolute;
    top: 280px;
    left: 25px;
  }

  .arrow-right {
    position: absolute;
    top: 280px;
    right: 25px;
  }

  .reviews-block {
    width: 688px;
    height: 313px;
    display: flex;
    flex-direction: row;
  }

  .reviews-img {
    margin: 50px 20px 0 40px;
  }

  .reviews-img__icon {
    position: relative;
    top: 220px;
    left: -110px;
  }

  .reviews-text__person {
    font-size: 20px;
    margin-top: 50px;
  }

  .reviews-text__title {
    font-size: 12px;
    margin-top: 10px;
  }

  .reviews-text__letter {
    font-size: 12px;
    line-height: 1.6;
    width: 410px;
  }

  .reviews-link > a {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-title {
    font-size: 46px;
  }

  .arrow-left {
    position: absolute;
    top: 350px;
    left: 25px;
  }

  .arrow-right {
    position: absolute;
    top: 350px;
    right: 25px;
  }

  .reviews-block {
    width: 1090px;
    height: 370px;
    display: flex;
    flex-direction: row;
  }

  .reviews-img {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 20px;
  }

  .reviews-img__icon {
    position: relative;
    top: 220px;
    left: -110px;
  }

  .reviews-text__person {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 50px;
  }

  .reviews-text__title {
    font-size: 14px;
    line-height: 1.2;
    margin-top: -20px;
  }

  .reviews-text__letter {
    font-size: 18px;
    line-height: 1.5;
    width: 700px;
  }

  .reviews-link > a {
    margin-left: 30px;
  }
}
