<section class="teacher">
  <div class="container">
    <h2 class="teacher__title">Teacher</h2>
      <div class="teacher__name">
        <picture class="teacher__img">
          <source srcset="
              ./images/mobile/about/pic.jpg
            " media="(max-width: 767px)" />
          <source srcset="
              ./images/tablet/about/pic.jpg
            " media="(max-width: 1279px)" />
          <source srcset="
              ./images/desktop/about/pic.jpg
            " media="(min-width: 1280px)" />
          <img src="./images/desktop/about/pic.jpg" alt="teacher_photo" />
        </picture>
      </>
      <div class="teacher-about">
        <h3 class="teacher-about__name">Elena Moreva</h3>
        <ul class="teacher-about__experience">
          <li class="teacher-about__experience-item">
            <p class="teacher-about__experience-text">
              6 yeards of experience in preparing students for UPE
            </p>
          </li>
          <li class="teacher-about__experience-item">
            <p class="teacher-about__experience-text">
              Own result of passing VNO - 197 points 2 years in row
            </p>
          </li>
          <li class="teacher-about__experience-item">
            <p class="teacher-about__experience-text">
              Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)
            </p>
          </li>
        </ul>

        <p class="teacher-about__biography-text">
          Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.
        </p>
        <p class="teacher-about__biography-text">
          In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.

        </p>
        <p class="teacher-about__biography-text">
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).
        </p>

        <a class="teacher-about__certificate" href="#"
          target="blank">Cambridge English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>