<section class="advantages">
    <h2 class="title--hidden">Advantages</h2>
    <ul class="adv__list">
        <li class="adv__item">
            <svg class="adv__icon">
                <use href='./images/sprite.svg#icon-student'></use>
            </svg>
            Adapted author's UPE program</li>
        <li class="adv__item">
            <svg class="adv__icon">
                <use href='./images/sprite.svg#icon-learning'></use>
            </svg>
            Modern teaching methods</li>
        <li class="adv__item">
            <svg class="adv__icon">
                <use href='./images/sprite.svg#icon-insurance'></use>
            </svg>
            Financial guarantee the result</li>
    </ul>
</section>