<section class="advantages container">
    <h2 class="title--hidden">Advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__item advantages__item--student">
            <p class="advantages__text" >Adapted author's <br>UPE program</p></li>
        <li class="advantages__item advantages__item--learning">
            <p class="advantages__text" >Modern<br> teaching methods</p></li>
        <li class="advantages__item advantages__item--insurance">
            <p class="advantages__text" >Financial guarantee <br>the result</p></li>
    </ul>
</section>