
<section class="benefits">
    <div class="container">
        <div class="choice-content-block">
            <ol class="choice-content-block__list">
                <li class="choice-content-block__item">Training in small groups</li>
                <li class="choice-content-block__item">Rendered notes </li>
                <li class="choice-content-block__item">Each lesson has a goal and a specific results</li>
                <li class="choice-content-block__item">The real result of the teacher</li>
                <li class="choice-content-block__item">The course program meets the requirements of the MES of Ukraine</li>
                <li class="choice-content-block__item">Set of groups by level of knowledge</li>
            </ol>
        </div>
    </div>
</section>