

<section class="benefits" id="training">
    <h2 class="secondary-title">Why do people choose us</h2>
    <ul class="benefits__list">
        <li class="benefits__item">
            <p class="benefits__item--line">— 01 </p>
            <p class="benefits__item--text">Training in small groups</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__item--line">— 02 </p>
            <p class="benefits__item--text">Rendered notes </p>
        </li>
        <li class="benefits__item">
            <p class="benefits__item--line">— 03 </p>
            <p class="benefits__item--text">Each lesson has a goal and a specific results</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__item--line">— 04 </p>
            <p class="benefits__item--text">The real result of the teacher</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__item--line">— 05 </p>
            <p class="benefits__item--text">The course program meets the requirements of the MES of Ukraine</p>
        </li>
        <li class="benefits__item">
            <p class="benefits__item--line">— 06 </p>
            <p class="benefits__item--text">Set of groups by level of knowledge</p>
        </li>
    </ul>

</section>