<section class="contacts">
    <div class="container">
        <h1 class="contacts__title">
            Registration for a <span class="contacts__title--color">free</span> phone <br />
            <span class="contacts__title--color">consultation</span> on the nuances of English <br />
            UPE
        </h1>
        <h2 class="contacts__text">
            Leave a request for participation in a <span class="contacts__text--color">free lesson</span>. <br />
            A consultant will contact you and answer your questions
        </h2>
        <form class="contacts-form">
            <div class="contacts__input-container">
                <input type="text" name="username" class="contacts__input" placeholder="Name*" required />
                <input type="tel" class="reg__input" placeholder="Phone*" name="phone_number" required />
                <button type="submit" class="contacts__btn">
                    I want a free lesson
                </button>
            </div>
        </form>

    </div>
</section>