<section class="guarantee-section">
    <div class="container">
      <h1 class="guarantee">We guarantee</h1>
      <div class="guarantee__block">
        <div class="guarantee-icon">
        </div>
        <div class="guarantee-text">
          <p class="guarantee-text__letter">
              You will pass the UPE with at least 25 points better than on the
          first practice test. Otherwise, we will<br />
          refund your money.<sup>*</sup>
          </p>
          <p class="guarantee-text__letter">
              You will learn to write essays with at least 10 points out of 14.
              <span class="guarantee-text__letter guarantee-text__letter--span">While 20% of the students received 0 for<br />
              essays.</span>
          </p>
          <p class="guarantee-text__letter guarantee-text__letter--margin">
              You will study in your area. We will choose the location for the
          classes after the teams have been formed.
          </p>
          <p class="guarantee-text__letter">
              Teams will be formed based on the starting level of the students. We
              take into account the <br />characteristics of each student.
          </p>
      </div>
      </div>
    </div>
  </section>