<section class="header">
    <div class="container">
                <a href="#" class="header__logo">
                    <svg class="header__logo--icon" width="128px" height="45px">
                        <use href="./images/sprite.svg#icon-logo-project"></use>
                    </svg>
                </a>
                <a href="#" class="burger">
                    <svg class="burger__icon" width="20px" height="12px">
                        <use href="./images/burger.svg#icon-menu"></use>
                    </svg>
                </a>
    </div>
</section>