
<header class="container">
    <a href="#">
    <svg class="header__logo">
        <use href="./images/sprite.svg#icon-logo-project"></use>
      </svg>
    </a>
<div class="header__nav">
        <svg class="burger__icon">
            <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
    <div class="header__menu">
        <ul class="header__list">
            <li class="header__item">
                <a href="#" class="header__link">Studying program</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">About</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Training options</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Contacts</a>
            </li>
        </ul>
        <button class="header__menu--btn">
            CONSULTATION BY PHONE
        </button>
<section class="header">
    <div class="container">
                <a href="#" class="header__logo">
                    <svg class="header__logo--icon" width="128px" height="45px">
                        <use href="./images/sprite.svg#icon-logo-project"></use>
                    </svg>
                </a>
                <a href="#" class="burger">
                    <svg class="burger__icon" width="20px" height="12px">
                        <use href="../images/sprite.svg#icon-menu"></use>
                    </svg>
                </a>
    </div>
</div>
<h1 class="header__title">Complex preparation for English UPE</h1>
</header>