
<section class="hero">
  <div class="hero__title--grupe">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <h2 class="hero__text">
            It won’t be easy.<br>
           <span class="span__tablet">But you are guaranteed to get</span>
           <span class="span__mobile">+25 points</span></h2>
            <button type="button" class="hero__btn">
            I want a free lesson
        </button>
        <picture class="hero__picture">
            <source srcset="
                ./images/mobile/header/Group.png
              " media="(max-width: 767px)" />
            <source srcset="
                ./images/tablet/header/Group.png
              " media="(max-width: 1279px)" />
            <source srcset="
                ./images/desktop/header/Group.png
              " media="(min-width: 1280px)" />
            <img src="./images/desktop/header/Group.png" alt="group_photo" />
            <use href="./images/sprite.svg#icon-Vector-1"></use>
          </svg>
    </div>
    
</div>
</section>