<section class="hero">
    <div class="container">
        <h2 class="hero__text"><span>It won’t be easy.</span><br>
            But you are guaranteed to get<br><span1>+25 points</span1></h2>
        <button type="button" class="hero__btn">
            I want a free lesson
        </button>
        <picture class="header__picture">
            <source srcset="
                ./images/mobile/header/Group.jpg
              " media="(max-width: 767px)" />
            <source srcset="
                ./images/tablet/header/Group.jpg
              " media="(max-width: 1279px)" />
            <source srcset="
                ./images/desktop/header/Group.jpg
              " media="(min-width: 1280px)" />
            <img src="./images/desktop/header/Group.jpg" alt="teacher_photo" />
          </picture>
        <div class="hero__picture">
            <img src="./images/mobile/header/Group.jpg" media="(max-width: 767px)">
            <picture class="teacher__img">
                <source src="./images/mobile/header/Group.jpg" media="(max-width: 767px)" />
              </picture>
        </div>
        <svg class="hero__sprite">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
          </svg>
    </div>
    
</section>