<section class="hero">
    <div class="container">
        <h2 class="hero__text"><span>It won’t be easy.</span><br>
            But you are guaranteed to get<br><span1>+25 points</span1></h2>
        <button type="button" class="hero__btn">
            I want a free lesson
        </button>
        <div class="hero__picture">
            <img src="./images/mobile/header/Group.jpg" media="(max-width: 767px)">
        </div>
        <svg class="hero__sprite">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
          </svg>
    </div>
    
</section>