<section class="how-we-do" id="how-we-do">
  <div class="container"></div>
  <h2 class="how-we-do__tittle">How we do it</h2>
  <ul class="how-we-do__list">
    <li class="how-we-do__item"><svg class="how-we-do__icon1">
        <use href="./images/sprite.svg#icon-HWD1"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Adapted program
<br>preparation for UPE</h3>
      <p class="how-we-do__item__line1">—</p>
      <p class="how-we-do__item__description">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon2">
        <use href="./images/sprite.svg#icon-HWD2"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Classroom and online <br>learning</h3>
       <p class="how-we-do__item__line2">—</p>
      <p class="how-we-do__item__description">The teacher will help not only in the classroom, but also during home preparation.
Parents can chat if they wish.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon3">
        <use href="./images/sprite.svg#icon-HWD3"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">The habit of reading in English</h3>
       <p class="how-we-do__item__line3">—</p>
       <p class="how-we-do__item__description">Articles from sources that are used in the development of this UPE will be received by phone twice a week.
</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon4">
        <use href="./images/sprite.svg#icon-HWD4"></use>
      </svg>

      <h3 class="how-we-do__item__tittle">Psychological
<br>support</h3>
        <p class="how-we-do__item__line4">—</p>
       <p class="how-we-do__item__description">We will teach you testing techniques, the ability to plan your confidence training
in itself.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon5">
        <use href="./images/sprite.svg#icon-HWD5"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Training on copyright manuals</h3>
        <p class="how-we-do__item__line5">—</p>
      <p class="how-we-do__item__description">You don't have to waste your time
on a search for material and to buy anything extra. We have compiled
2 manuals for you.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon6">
        <use href="./images/sprite.svg#icon-HWD6"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Ability to comprehend spoken<br> English</h3>
        <p class="how-we-do__item__line6">—</p>
      <p class="how-we-do__item__description">“F.R.I.E.N.D.S” won't help you. You will listen regularly
and analyze audio recordings
in accordance with the studied vocabulary.</p>
    </li>
  </ul>
  </div>
</section>