<section class="how-we-do" id="how-we-do">
  <div class="container"></div>
  <h2 class="how-we-do__tittle">How we do it</h2>
  <ul class="how-we-do__list">
    <li class="how-we-do__item"><svg class="how-we-do__icon1">
        <use href="./images/sprite.svg#icon-HWD1"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Adapted program
<br>preparation for UPE</h3>
      <p class="how-we-do__item__description">You will learn grammar and<br class="how-we-do__brake--desktop"> vocabulary<br class="how-we-do__brake--tablet"><br class="how-we-do__brake--mobile"> at the same time. And<br class="how-we-do__brake--desktop"> you will learn<br class="how-we-do__brake--mobile"> how<br class="how-we-do__brake--tablet"> to write essays.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon2">
        <use href="./images/sprite.svg#icon-HWD2"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Classroom and online <br>learning</h3>
      <p class="how-we-do__item__description">The teacher will help not only in<br class="how-we-do__brake--desktop"> the<br class="how-we-do__brake--tablet"><br class="how-we-do__brake--mobile"> classroom, but also during<br class="how-we-do__brake--desktop"> home <br class="how-we-do__brake--mobile"><br class="how-we-do__brake--tablet">preparation.<br class="how-we-do__brake--tablet"><br class="how-we-do__brake--mobile">
<br class="how-we-do__brake--desktop">Parents can chat if they wish.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon3">
        <use href="./images/sprite.svg#icon-HWD3"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">The habit of reading in English</h3>
       <p class="how-we-do__item__description">Articles from sources that are<br class="how-we-do__brake--desktop"> used<br class="how-we-do__brake--mobile"> in<br class="how-we-do__brake--tablet"> the development of this<br class="how-we-do__brake--desktop"> UPE will<br class="how-we-do__brake--mobile"> be<br class="how-we-do__brake--tablet"> received by phone<br class="how-we-do__brake--desktop"> twice a week.
</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon4">
        <use href="./images/sprite.svg#icon-HWD4"></use>
      </svg>

      <h3 class="how-we-do__item__tittle">Psychological
<br>support</h3>
       <p class="how-we-do__item__description">We will teach you testing<br class="how-we-do__brake--desktop"><br class="how-we-do__brake--mobile"> techniques, the <br class="how-we-do__brake--tablet">ability to plan<br class="how-we-do__brake--desktop"> your<br class="how-we-do__brake--mobile"> confidence training<br class="how-we-do__brake--desktop"><br class="how-we-do__brake--tablet"><br class="how-we-do__brake--mobile">
in itself.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon5">
        <use href="./images/sprite.svg#icon-HWD5"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Training on copyright manuals</h3>
      <p class="how-we-do__item__description">You don't have to waste your time<br class="how-we-do__brake--mobile">
<br class="how-we-do__brake--desktop"><br class="how-we-do__brake--tablet">on a search for material and to <br class="how-we-do__brake--desktop">buy <br class="how-we-do__brake--mobile"><br class="how-we-do__brake--tablet">anything extra. We have<br class="how-we-do__brake--desktop"> compiled<br class="how-we-do__brake--tablet"><br class="how-we-do__brake--mobile">
<br class="how-we-do__brake--desktop">2 manuals for you.</p>
    </li>
    <li class="how-we-do__item"><svg class="how-we-do__icon6">
        <use href="./images/sprite.svg#icon-HWD6"></use>
      </svg>
      <h3 class="how-we-do__item__tittle">Ability to comprehend spoken<br> English</h3>
      <p class="how-we-do__item__description">“F.R.I.E.N.D.S” won't help you. You<br class="how-we-do__brake--desktop"> will<br class="how-we-do__brake--tablet"><br class="how-we-do__brake--mobile"> listen regularly<br class="how-we-do__brake--mobile"><br class="how-we-do__brake--desktop"><br class="how-we-do__brake--tablet">
and analyze audio recordings<br class="how-we-do__brake--mobile"><br class="how-we-do__brake--desktop"><br class="how-we-do__brake--tablet">
in accordance with the studied<br class="how-we-do__brake--mobile"><br class="how-we-do__brake--desktop"><br class="how-we-do__brake--tablet"> vocabulary.</p>
    </li>
  </ul>
  </div>
</section>