<section class="problems">
    <h2 class="secondary__title">The main problems of students in English UPE, which we <span
            class="span--accent">help</span> to solve</h2>
    <ol class="pro__list">
        <li class="pro__item">Grammar</li>
        <li class="pro__item">Inability to understand spoken English</li>
        <li class="pro__item">Stingy vocabulary for writing an essay</li>
        <li class="pro__item">Preparing alone</li>
        <li class="pro__item">Lack of a single knowledge resource</li>
        <li class="pro__item">Lack of self-organization and laziness</li>
    </ol>
    <svg class="pro__icon">
        <use href='./images/sprite.svg#icon-dark-fire'></use>
    </svg>
</section>