<section class="program">
  <div class="container">
    <h2 class="program__tittle">Our Program</h2>
    <ul class="program__list">
      <li class="program__list__tittle">1 Semestr<ul>
          <li class="program__list__description">— Grammar<p class="program__list__spec">Nouns & Articles Adjectives & Adverb
            </p>
          </li>
          <li class="program__list__description">— Vocabulary<p class="program__list__spec">Family & Relations People &
              Society </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">2 Semestr<ul>
          <li class="program__list__description">— Grammar<p class="program__list__spec">Pronouns Active Voice Passive Voice
            </p>
          </li>
          <li class="program__list__description">— Vocabulary
            <p class="program__list__spec">Home
              School
              Work </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">3 Semestr<ul>
          <li class="program__list__description">— Grammar<p class="program__list__spec">Modal verbs
              Infinitive
              Gerund
              Participle: 1, 2 </p>
          </li>
          <li class="program__list__description">— Vocabulary<p class="program__list__spec">Travel & Tourism Culture & Free
              Time Sport </p>
          </li>
          <li class="program__list__description">— Writing<p class="program__list__spec">Informal Letter </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">4 Semestr<ul>
          <li class="program__list__description">— Grammar<p class="program__list__spec">Clauses: Conditional and Wishes
              Direct / Reported speech
              Preposition
              Conjunction
              Numeral
            </p>
          </li>
          <li class="program__list__description">— Vocabulary<p class="program__list__spec">Healthy Living
              Nature & Environment
              Money
            </p>
          </li>
          <li class="program__list__description">— Writing<p class="program__list__spec">Formal Letter
            </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">5 Semestr<ul>
          <li class="program__list__description">— <p class="program__list__spec">Revision
              Tests
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>



</section>