<section class="program">
  <div class="container">
    <div class="program__wrapper"></div>
    <h2 class="program__tittle">Our Program</h2>
    <ul class="program__list">
      <li class="program__list__tittle">1 Semestr<ul>
          <li class="program__list__description">— Grammar<p class="program__list__spec">Nouns & Articles<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Adjectives & Adverb
            </p>
          </li>
          <li class="program__list__description">— Vocabulary<p class="program__list__spec ">Family & Relations<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> People &
              Society </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">2 Semestr<ul>
          <li class="program__list__description program__list__description--space">— Grammar<p class="program__list__spec">Pronouns<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Active Voice<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Passive Voice
            </p>
          </li>
          <li class="program__list__description">— Vocabulary
            <p class="program__list__spec program__list__spec4">Home<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop">School<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop">Work </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">3 Semestr<ul>
          <li class="program__list__description program__list__description--space">— Grammar<p class="program__list__spec">Modal verbs
             <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Infinitive
             <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Gerund
              <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop">Participle: 1, 2 </p>
          </li>
          <li class="program__list__description">— Vocabulary<p class="program__list__spec">Travel & Tourism
            <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Culture & Free
              Time 
              <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop">Sport </p>
          </li>
          <li class="program__list__description">— Writing<p class="program__list__spec">Informal Letter </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">4 Semestr<ul>
          <li class="program__list__description">— Grammar<p class="program__list__spec">Clauses: Conditional<br class="program__brake--desktop"> and<br class="program__brake--mobile"><br clear="program__brake--tablet"> Wishes<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Direct / Reported<br class="program__brake--desktop"> speech<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Preposition<br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Conjunction
              <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop">Numeral
            </p>
          </li>
          <li class="program__list__description">— Vocabulary<p class="program__list__spec">Healthy Living
              <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop">Nature & <br class="program__brake--desktop">Environment
             <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop"> Money
            </p>
          </li>
          <li class="program__list__description">— Writing<p class="program__list__spec">Formal Letter
            </p>
          </li>
        </ul>
      </li>
      <li class="program__list__tittle">5 Semestr<ul>
          <li class="program__list__description">— <p class="program__list__spec">Revision
              <br class="program__brake--mobile"><br clear="program__brake--tablet"><br class="program__brake--desktop">Tests
            
            </p>
          </li>
        </ul>
      </li>
    </ul></div>
  </div>



</section>