<section class="program">
  <div class="container">
    <h1 class="program_tittle">Program</h1>
    <ul class="program_list">
      <li class="program_list-tittle">1 Semestr<ul>
          <li class="program_list-description">Grammar<p class="program_list-spec">Nouns & Articles Adjectives & Adverb
            </p>
          </li>
          <li class="program_list-description">Vocabulary<p class="program_list-spec">Family & Relations People &
              Society </p>
          </li>
        </ul>
      </li>
      <li class="program_list-tittle">2 Semestr<ul>
          <li class="program_list-description">Grammar<p class="program_list-spec">Pronouns Active Voice Passive Voice
            </p>
          </li>
          <li class="program_list-description">Vocabulary
            <p class="program_list-spec">Home
              School
              Work </p>
          </li>
        </ul>
      </li>
      <li class="program_list-tittle">3 Semestr<ul>
          <li class="program_list-description">Grammar<p class="program_list-spec">Modal verbs
              Infinitive
              Gerund
              Participle: 1, 2 </p>
          </li>
          <li class="program_list-description">Vocabulary<p class="program_list-spec">Travel & Tourism Culture & Free
              Time Sport </p>
          </li>
          <li class="program_list-description">Writing<p class="program_list-spec">Informal Letter </p>
          </li>
        </ul>
      </li>
      <li class="program_list-tittle">4 Semestr<ul>
          <li class="program_list-description">Grammar<p class="program_list-spec">Clauses: Conditional and Wishes
              Direct / Reported speech
              Preposition
              Conjunction
              Numeral
            </p>
          </li>
          <li class="program_list-description">Vocabulary<p class="program_list-spec">Healthy Living
              Nature & Environment
              Money
            </p>
          </li>
          <li class="program_list-description">Writing<p class="program_list-spec">Formal Letter
            </p>
          </li>
        </ul>
      </li>
      <li class="program_list-tittle">5 Semestr<ul>
          <li class="program_list-description">-<p class="program_list-spec">Revision
              Tests
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>



</section>