<section class="reviews-section">
  <div class="container">
    <h1 class="reviews-heading">Feedback from graduates</h1>
    <div class="reviews-person">
      <p class="reviews-person__title">Tonya Kucherovskaya</p>
      <p class="reviews-person__text">
        Graduated from 2015, National University of Bioresources and natural history of Ukraine
      </p>
      <p class="reviews-person__text">
          <img src="../images/person.jpg"/>
          <img src="../images/icon.svg"/>
        In a short time with Elena,
        I mastered grammar and replenished my completely empty vocabulary.
        From the first lesson I realized that I was on my plate.
        Elena and I became friends because she was really worried about my success.
        She became an authority for me, but I did not tremble in class,
        fearing to make the slightest mistake. Now I can brag that I'm student... 
        Read more
      </p>
    </div>
    <img src="../images/person_2.jpg"/>
    <img src="../images/person_3.jpg"/>
    <img src="../images/person_4.jpg"/>
    <img src="../images/person_5.jpg"/>
    <img src="../images/person_6.jpg"/>
    <img src="../images/person_7.jpg"/>
    <img src="../images/person_8.jpg"/>
  </div>
</section>
