<section class="reviews-section">
  <div class="container">
    <h1 class="reviews">Feedback from graduates</h1>
    <svg class="reviews__icon-left" width="25" height="25">
      <use href="images/sprite.svg#icon-Arrow-left"></use>
    </svg>
    <svg class="reviews__icon-right" width="25" height="25">
      <use href="images/sprite.svg#icon-Arrow-right"></use>
    </svg>
    <div class="reviews-block">
      <picture class="reviews-img">
        <source srcset="images/mobile/guarantee/person-mobile.jpg" media="(max-width: 767px)"/>
        <img
          src="images/desktop/guarantee/person.jpg"
          srcset="images/desktop/guarantee/person@2x.jpg 2x"
          alt="person"/>
      </picture>
      <a href="https://www.facebook.com/?_rdr">
        <svg class="reviews-img__icon" width="30" height="30">
          <use href="images/sprite.svg#icon-link"></use>
        </svg>
      </a>
      <div class="reviews-text">
        <p class="reviews-text__person">Tonya Kucherovskaya</p>
        <p class="reviews-text__title">
          Graduated from 2015, National University of Bioresources<br />and natural history of
          Ukraine
        </p>
        <article class="reviews-text__letter">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student...<br />
          <span class="reviews-text__letter reviews-text__letter--span">Read more</span>
        </article>
      </div>
    </div>
    <div class="reviews-link">
      <a href="#">
        <img
          src="images/desktop/guarantee/person_2.jpg"
          alt="person-2"
          srcset="images/desktop/guarantee/person_2@2x.jpg 2x"/>
      </a>
      <a href="#">
        <img
          src="images/desktop/guarantee/person_3.jpg"
          alt="person-3"
          srcset="images/desktop/guarantee/person_3@2x.jpg 2x"/>
      </a>
      <a href="#">
        <img
          src="images/desktop/guarantee/person_4.jpg"
          alt="person-4"
          srcset="images/desktop/guarantee/person_4@2x.jpg 2x"/>
      </a>
      <a href="#">
        <img
          src="images/desktop/guarantee/person_5.jpg"
          alt="person-5"
          srcset="images/desktop/guarantee/person_5@2x.jpg 2x"/>
      </a>
      <a href="#">
        <img
          src="images/desktop/guarantee/person_6.jpg"
          alt="person-6"
          srcset="images/desktop/guarantee/person_6@2x.jpg 2x"/>
      </a>
      <a href="#">
        <img
          src="images/desktop/guarantee/person_7.jpg"
          alt="person-7"
          srcset="images/desktop/guarantee/person_7@2x.jpg 2x"/>
      </a>
      <a href="#">
        <img
          src="images/desktop/guarantee/person_8.jpg"
          alt="person-8"
          srcset="images/desktop/guarantee/person_8@2x.jpg 2x"/>
      </a>
    </div>
  </div>
</section>
