@media screen and (min-width: 320px) and (max-width: 767px) {
.program{
background-color:getColor(primary) ;
position: relative;
min-width: 480px;
    &::before{
        content: "";
        border: 1px solid #FFFFFF;
       margin-left: 30px;
       position: absolute;
       width: 780px;
       top: 440px;
       left: -350px;
       transform: rotate(90deg);
      background-color: #FFFFFF;
    }
}

.program__list,
.program__list__description{
    list-style-type: none;
}
.program__list{
    margin-left: 50px;
}
.program__tittle{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
   

}
.program__list__tittle{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #FFFFFF;
     &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        background-color: getColor(accent);
        vertical-align: middle;
       margin-left: -26px;
        margin-right: 50px;
     
     }


}
.program__list__description{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    color: getColor(accent);

}
.program__list__spec{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    color:getColor(secondary)

}
}